{% extends "base.html" %} {% block title %}El Cazo de Oro{% endblock %} {% block content
%}
<h1 align="center">El Cazo de Oro</h1>

<iframe
  width="100%"
  height="500"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=API
&q=El+Cazo+de+Oro,+Observatorio+CDMX"></iframe>
</iframe>

<!--Google Maps-->
<iframe
  width="100%"
  height="500"
  style="border:0"
  loading="lazy"
  allowfullscreen=""
  referrerpolicy="no-referrer-when-downgrade"
  src="https://maps.google.com/maps?q=El+Cazo+de+Oro,+Observatorio+CDMX&t=&z=16&ie=UTF8&iwloc=&output=embed"></iframe>
</iframe>
<!--Google Maps-->


<form method="POST", class="text-center">
<ul class="list-group list-group-flush" id="products">
{% for product in products %}

<li class="list-group-item align-items-center">
<div class="card" style="width: 18rem;">
  <img src= {{ product.pic_uri }} class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title"> {{product.name}} </h2>
    <h5 class="card-text"> ${{product.price}}.00 (MXN) </h5>
    <p class="card-text"> {{ product.description }} </p>
      <div class="mb-3 row">
        <div class="col-sm-10">
        <input name={{product.id}}-quantity type="number" class="form-control" id="prod-order" value="0">
      </div>
  </div>

  </div>
</div>
</li>
<br/>

{% endfor %}
</ul>
<br/>
<br/>

  <h3 align="center">Ordena aquí</h3>
  <div class="form-group">
    <label for="email">Dirección de correo electrónico</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="nombre@ejemplo.com"
    />
  </div>
  <div class="form-group">
    <label for="address">Dirección de entrega</label>
    <textarea
      type="text"
      class="form-control"
      id="address"
      name="address"
      placeholder=
"Avenida Siempre Viva 123
 Col. Springfield, CP 45678
 Ciudad De México"
      rows="3"
    /></textarea>
  </div>
  <div class="form-group">
    <label for="customerName">Name</label>
    <input
      type="text"
      class="form-control"
      id="customerName"
      name="customerName"
      placeholder="Por quién preguntamos? - Juan, Gaby, Dr. Fernández, El Gordo..."
    />
  </div>
  <br/>
  <div clas="text-center">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>

  <br/>
  <br/>
  <br/>

{% endblock %}